<ion-header>
  <ion-toolbar color="warning">
    <ion-title >
      Fácilivro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
<ion-searchbar class="find" placeholder="Procure"
></ion-searchbar>

    <ion-list >
      <ion-item *ngFor="let item of book" (click)="btnItem(item)" >
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>{{item.nome.toUpperCase()}} | {{item.autor.toUpperCase()}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
