<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
         </ion-buttons>
      <ion-title>Detalhes do Livro</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>ESCOLA:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>{{this.getBook.escola}}</ion-label>
        </ion-item>
    </ion-item-group>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>MULTIMEIOS:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>{{this.getBook.multimeios}}</ion-label>
        </ion-item>
    </ion-item-group>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>PRATILEIRA:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>{{this.getBook.pratileira}}</ion-label>
        </ion-item>
    </ion-item-group>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>SESSÃO:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>{{this.getBook.sessao}}</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
          <ion-label>NOME:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>{{this.getBook.nome}}</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
          <ion-label>AUTOR:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>{{this.getBook.autor}}</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>SINOPSE:</ion-label>
      </ion-item-divider>
      <ion-item text-wrap>
        <ion-label>{{this.getBook.sinopse}}</ion-label>
      </ion-item>
  </ion-item-group>

</ion-content>
