<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
         </ion-buttons>
      <ion-title>Detalhes do Livro</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>ESCOLA:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>EEM WLADIMIR RORIZ</ion-label>
        </ion-item>
    </ion-item-group>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>MULTIMEIOS:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>NILTON CESAR BATISTA DA SILVA</ion-label>
        </ion-item>
    </ion-item-group>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>PRATILEIRA:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>01</ion-label>
        </ion-item>
    </ion-item-group>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>SESSÃO:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>02</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
          <ion-label>NOME:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>CARREGANDO...</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
          <ion-label>AUTOR:</ion-label>
        </ion-item-divider>
        <ion-item text-wrap>
          <ion-label>CARREGANDO...</ion-label>
        </ion-item>
    </ion-item-group>

</ion-content>
